# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env
.venv/
.env*/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# IDEs/Editors
.vscode/
.idea/
*.iml

# Logs
logs/
*.log

# Data & Models (keep repo small; regenerate locally)
/data/
/data.pickle
/model.p

# Build
build/
dist/
*.egg-info/
